/*-- scss:defaults --*/

// brand guideline colours https://www.sheffield.ac.uk/brand-toolkit/colour
// tuos core colours https://brand.sheffield.ac.uk/guidelines/guide/633ac0dd-9e77-42dc-b9cd-2370913f638a/page/23734967-f185-48d4-9f40-0d3cd3a8ca9f
$tuos-brand-violet: #440099;
$tuos-dark-violet: #24125E;
$tuos-electric-violet: #7000FF; // digital only
$tuos-powder-violet: #A78CFA;
$tuos-pale-violet: #C6BBFF;
$tuos-midnight-black: #131E29;
$tuos-wave-white: #f8f8f9;

// Core presentation template colour
$tuos-core-presentation-bg: #f3f3f3;

// wider colour palette https://brand.sheffield.ac.uk/guidelines/guide/633ac0dd-9e77-42dc-b9cd-2370913f638a/page/ff0b6d84-e1dd-448b-9872-9b077f70c56b
$tuos-coral: #E7004C;
$tuos-purple: #981F92;
$tuos-teal: #005A8F;
$tuos-peak-green: #005750;
$tuos-flamingo: #FF6371;
$tuos-pink: #FF79E1;
$tuos-aqua: #00BBCC;
$tuos-spearmint: #3BD4AE;
$tuos-peach: #FF9664;
$tuos-lavender: #DAA8E2;
$tuos-powder-blue: #9ADBE8;
$tuos-pastel-green: #A1DED2;

// Removed brand guidelines colours, some point in 2024/5?
$tuos-sky-blue: #64CBE8;
$tuos-mint-green: #00CE7C;
$tuos-mauve: #663DB3;

// tuos core tints - no longer part fo the brand guidelines?
$tuos-brand-violet-100: #440099;
$tuos-midnight-black-100: #131E29;
$tuos-brand-violet-90: #5719A3;
$tuos-midnight-black-90: #2B353E;
$tuos-brand-violet-80: #6933AD;
$tuos-midnight-black-80: #424B54;
$tuos-brand-violet-70: #7C4DB8;
$tuos-midnight-black-70: #5A6269;
$tuos-brand-violet-60: #8F66C2;
$tuos-midnight-black-60: #71787F;
$tuos-brand-violet-50: #A280CC;
$tuos-midnight-black-50: #898F94;
$tuos-brand-violet-40: #B499D6;
$tuos-midnight-black-40: #A1A5A9;
$tuos-brand-violet-30: #C7B3E0;
$tuos-midnight-black-30: #B8BBBF;
$tuos-brand-violet-20: #DACCEB;
$tuos-midnight-black-20: #D0D2D4;
$tuos-brand-violet-10: #ECE6F5;
$tuos-midnight-black-10: #E7E9EA;
$tuos-brand-violet-5: #F6F2FA;
$tuos-midnight-black-5: #F3F4F4;
$tuos-brand-violet-3: #F9F7FC;
$tuos-midnight-black-3: #F8F8F9;

// tuos colour accessibility
// use white or powder blue text on deep violet backgrounds
// use black or deep violet on powder blue
// use white or powder blue on midnight-black


// import closest fonts from googles CDN.
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,400italic,600italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:400,600,400italic,600italic);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+4:400,600,400italic,600italic);

// tuos fonts
$tuos-font-family-serif: "Source Serif Pro", "Source Serif 4", serif;
// $tuos-font-family-sans-serif: "Source Sans Pro", "Source Sans 3", Helvetica, sans-serif;
// $tuos-font-family-monospace: "Source Code Pro", monospace;

// tuos fonts
// $tuos-font-family-serif: "Source Serif Pro", serif;
$tuos-font-family-sans-serif: "Source Sans Pro", Helvetica, sans-serif;
$tuos-font-family-monospace: "Source Code Pro", monospace;

// -- set theme variables --

// Set quarto / reveal theme variables as required, based on tuos brand guidelines:

// Full list of available quarto reveal.js theme variables, from https://quarto.org/docs/presentations/revealjs/themes.html 
// fonts
$font-family-serif: $tuos-font-family-serif;
$font-family-sans-serif: $tuos-font-family-sans-serif;
$font-family-monospace: $tuos-font-family-monospace;
// $presentation-font-size-root: 40px;
// $presentation-font-smaller: 0.7;
// $presentation-line-height: 1.3;
// $body-bg: $tuos-midnight-black-5;  // low eye strain colours
$body-bg: $tuos-core-presentation-bg;
$body-color: $tuos-midnight-black;
$text-muted: $tuos-midnight-black-50; // lighten($body-color, 50%);
$link-color: $tuos-brand-violet;
$link-color-hover: $tuos-electric-violet;
$link-color-hover: lighten($link-color, 15%);
// $selection-bg: lighten($link-color, 25%);
// $selection-color: $body-bg;
// $border-color: lighten($body-color, 30%);
// $border-width: 1px;
// $border-radius: 3px;
$presentation-heading-font: $font-family-serif;
// $presentation-heading-color: $body-color;
// $presentation-heading-line-height: 1.2;
// $presentation-heading-letter-spacing: normal;
// $presentation-heading-text-transform: none;
// $presentation-heading-text-shadow: none;
// $presentation-h1-text-shadow: none;
// $presentation-heading-font-weight: 600;
$presentation-h1-font-size: 2.0em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.3em;
$presentation-h4-font-size: 1em;
// $presentation-block-margin: 12px;
$presentation-slide-text-align: left;
$presentation-title-slide-text-align: left;
// $code-block-bg: $body-bg;
// $code-block-border-color: lighten($body-color, 60%);
$code-block-font-size: 0.66em;
$code-color: $tuos-electric-violet;
// $code-color: $tuos-purple; // @todo - purple vs electric violet
// $code-bg: $tuos-pale-violet;// transparent;
// $tabset-border-color: $code-block-border-color;
$light-bg-text-color: $tuos-midnight-black;
$light-bg-link-color: $tuos-brand-violet;
$light-bg-code-color: $tuos-brand-violet;
$dark-bg-text-color: $tuos-wave-white;
$dark-bg-link-color: $tuos-pale-violet;
$dark-bg-code-color: $tuos-pale-violet;

// callouts
$callout-border-width: 0.4rem;
// $callout-border-scale: 0%;
// $callout-icon-scale: 10%;
// $callout-margin-top: 1rem;
// $callout-margin-bottom: 1rem;
$callout-color-note: $tuos-electric-violet;
$callout-color-tip: $tuos-peak-green;
$callout-color-important: $tuos-coral;
$callout-color-caution: $tuos-peach;
// $callout-color-warning: $tuos-flamingo;



/*-- scss:rules --*/
.reveal {

    blockquote {
        color: $tuos-midnight-black;
        border-left-color: $tuos-brand-violet;
    }

    .smaller {
        font-size: 90%;
        code {
            font-size: 90%;
        }
    }

    .somewhat-smaller {
        font-size: 75%;
        code {
            font-size: 75%
        }
    }


    .even-smaller {
        font-size: 70%;
        code {
            font-size: 70%
        }
    }

    pre.bigger {
        font-size: 1.5rem;

        code {
            padding: 8px 16px;
        }
    }

    pre.slightly-bigger {
        font-size: 1.2rem;

        code {
            padding: 8px 16px;
        }
    }

    pre.smaller {
        font-size: 0.8rem;
    }

    pre.even-smaller {
        font-size: 0.4rem;
    }

    .columns>.column.column-final-right>table{
        margin-left: auto;
    }

    table.table-striped > tbody > tr.odd {
        background: $tuos-midnight-black-10;
    }
    table.table-full-width {
        width: 100%;
    }

    .call-to-action {
        text-align: center;
        font-size: 3em;
        color: $tuos-flamingo;
        margin: 0.5em auto;
    }

    // Title slide additional formatting 
    #title-slide #title-logo-container {
        width: 8em;
        height: 3em;
        margin-top: 3em;
        margin-bottom: 0.5em;
    }

    #title-slide {
        h1 {
            color: $tuos-brand-violet;
            font-weight:bold;
            margin-bottom: 0.5em;
            font-family: $tuos-font-family-serif;
        }
        div.columns {
            display: flex;
        }
        p {
            color: $tuos-midnight-black;
        }
        p.subtitle {
            font-size: $presentation-h3-font-size;
            font-weight:bold;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
        p.author {
            font-size: $presentation-h3-font-size;
            font-weight: bold;
        }
        p.institute {
            font-size: $presentation-h4-font-size;
        }
        p.date {
            font-size: $presentation-h4-font-size;
            margin-left: 0px;
        }
        h1 code {
            font-size: 80%;
            color: $tuos-brand-violet-90;
        }
    }

    .slide h2 {
        font-family: $tuos-font-family-serif;
        color: $tuos-brand-violet;
        // background: $tuos-powder-blue;
        border-bottom: 1px solid $tuos-brand-violet;
        padding: 0.1em 0.2em;
        // Always small title size?
        font-size: $presentation-h3-font-size;
        margin-bottom: 0;

        code {
            // font-size: 90%;
            color: $tuos-brand-violet;
        }
    }
    .slide h1 code {
        font-size: 90%;
    }

    .slide.headerless h2 {
        padding: 0;
    }

    .slide.smalltitle h2 {
        font-size: $presentation-h4-font-size;
        margin-bottom: 0;
    }
    // .slide.smalltitle h2 ~ p {
        // margin-top: 0;
        // margin-bottom: 0;
    // }
    .slide.smalltitle p > img {
        // margin-top: 0;
        // margin-bottom: 0;
        max-height: 100%;
        max-width: 100%;
    }

    .progress {
        color: $tuos-powder-blue;
    }

    .divider.flamingo {
        background-color: $tuos-flamingo !important;
        h1 {
            color: $tuos-wave-white;
        }
    }
    .divider.coral {
        background-color: $tuos-coral !important;
        h1 {
            color: $tuos-wave-white;
        }
    }
    .divider.title-slide h1{
        font-size: 2.2em;
        // margin: 0 1.5em;
        text-align: center;
        font-family: $tuos-font-family-serif;
        // text-align: left;
    }

    .divider.teal {
        background-color: $tuos-teal !important;
        h1 {
            color: $tuos-wave-white;
        }
    }

    .divider.dark-violet {
        background-color: $tuos-dark-violet !important;
        h1 {
            color: $tuos-wave-white;
        }
    }

    .divider.electric-violet {
        background-color: $tuos-electric-violet !important;
        h1 {
            color: $tuos-wave-white;
        }
    }

    .divider.powder-violet {
        background-color: $tuos-powder-violet !important;
        h1 {
            color: $tuos-brand-violet;
        }
    }

    .divider.pale-violet {
        background-color: $tuos-pale-violet !important;
        h1 {
            color: $tuos-brand-violet;
        }
    }


    .footer {
        color: $tuos-midnight-black-80;
    }
    .footer a {
        color: $tuos-midnight-black-90;
    }
    .footer code {
        font-size: 90%;
        color: $tuos-midnight-black-60;
    }

    .bg-darker {
        background: $tuos-midnight-black-10;
    }

    figure {
        figcaption { 
            text-align: center;
            margin-top: 0;
            code {
                font-size: 100%;
            }
        }
    }

    .fig-credit {
        font-size: .6em;
    }

    .no-caption-p-margin {
        .quarto-figure {
            margin-bottom: 0;
        }
        figure:not(:first-child) {
            p {
                img {
                    margin-top: 0;
                }
            }
        }
        figure {
            p {
                img {
                    margin-bottom: 0;
                }
            }
        }
    }

    .plug,
    .plug a {
        color: $tuos-midnight-black;
    }

    .plug {
        text-align: center;
        margin-top: 4rem;
        padding: 1rem 2rem;
        background: #ffffff3d;
    }

    code span.diff {
        color: $tuos-coral;
    }

    .list-style-none ul {
        list-style: none;
    }

    // This would need to be done with diff colours for diff places (headers, title slide et
    // code {
    //     background-color: $tuos-powder-blue-20;
    //     border: 1px solid $tuos-powder-blue-20;
    //     border-radius: .25rem;
    //     padding: .1rem .25rem;
    // }

    .slide-logo {
        margin-bottom: 8px;
    }

    .slide-number > a[href*='title-slide'] {
        display: none;
    }

    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-justified {
        text-align: justified;
    }

    .big-stat {
        font-family: $tuos-font-family-serif;
        font-size: 10rem;
        font-weight: bold;
        color: $tuos-brand-violet;
        // margin-top: 10em;
        vertical-align: middle;
        text-align: center;
    }


    .slide.level1 div.callout.callout-note {
        border-color: $callout-color-note;
    }
    .slide.level1 div.callout.callout-tip {
        border-color: $callout-color-tip;
    }
    .slide.level1 div.callout.callout-important {
        border-color: $callout-color-important;
    }
    .slide.level1 div.callout.callout-caution {
        border-color: $callout-color-caution;
    }
    .slide.level1 div.callout.callout-warning {
        border-color: $callout-color-warning;
    }

    .section-header {
        h1 {
            color: $tuos-brand-violet;
            font-family: $tuos-font-family-serif;
        }
    }

    /* Set the tr background colour to red or green for nv / amd */
    table.trbg-nv-amd tbody tr:nth-child(1),
    table.trbg-nv-amd tbody tr:nth-child(3) {
        /* background: #BC5544; */
        background:rgba(188, 84, 68, 0.45);
    }
    table.trbg-nv-amd tbody tr:nth-child(2),
    table.trbg-nv-amd tbody tr:nth-child(4),
    table.trbg-nv-amd tbody tr:nth-child(5) {
        /* background: #7A954F; */
        background:rgba(122, 149, 79, 0.45);
    }
    table.trbg-nv-amd tbody a {
    color: var(--tuos-midnight-black);
    }

    /* shade out 2 rows of the table when requested */
    table.shade-r1-r2 tbody tr:first-child,
    table.shade-r1-r2 tbody tr:nth-child(2) {
        opacity: 0.6;
    }
}
.reveal.has-dark-background .footer {
    a {
        color: $tuos-midnight-black-5;
    }
    code {
        color: $tuos-midnight-black-5;
    }
    color: $tuos-midnight-black-10;
}
.reveal.has-light-background .footer {
    a {
        color: $tuos-midnight-black-100;
    }
    code {
        color: $tuos-midnight-black-100;
    }
    color: $tuos-midnight-black-90;
}

// .reveal pre.code-overflow-wrap>code.sourceCode {
//     white-space: pre-wrap;
// }